@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@section javascript{

    <script type="text/javascript">

        $(document).ready(
            function () {

                $.ajax(
                {
                    type: "POST",
                    url: "/Produto/FillDropDownFornecedor",
                    success: function (dados) {

                        $("#DropDownFornecedor").append("<option value=''>" + "Selecione o Fornecedor" + "</option>");

                        for (var i = 0; i < dados.length; i++) {

                            $("#DropDownFornecedor").append("<option value=" + dados[i].IdFornecedor + ">" + dados[i].Nome + "</option>");

                        }
                        console.log('teste');
                    },
                    error: function (e) {
                        $("#mensagem_produto").html(e.status);
                    }

                });

                $("#btncadastro_produto").click(
                    function () {

                        var Model = {
                            Nome: $("#nome_produto").val(),
                            Preco: $("#preco_produto").val(),
                            Quantidade: $("#qtd_produto").val(),
                            Descricao: $("#desc_produto").val(),
                            IdFornecedor: document.getElementById("DropDownFornecedor").value
                        };

                        $.ajax(
                            {
                                type: "POST",
                                url: "/Produto/Cadastrar",
                                data: Model,
                                success: function (msg) {

                                    $("#mensagem_produto").html(msg);

                                    $("#nome_produto").val("");
                                    $("#preco_produto").val("");
                                    $("#qtd_produto").val("");
                                    $("#desc_produto").val("");
                                    document.getElementById("DropDownFornecedor").selectedIndex = 0;
                                },
                                error: function (e) {
                                    $("#mensagem_produto").html(e.status);
                                }
                            });
                    });
            });

    </script>
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Cadastro de Produtos
                </div>
                <div class="panel-body">
                    <label>Nome:</label>
                    <input type="text" id="nome_produto" class="form-control" />
                    <br />

                    <label>Preço:</label>
                    <input type="number" id="preco_produto" class="form-control" />
                    <br />

                    <label>Quantidade:</label>
                    <input type="number" id="qtd_produto" class="form-control" />
                    <br />

                    <label>Descrição:</label>
                    <input type="text" id="desc_produto" class="form-control" />
                    <br />

                    <label>Selecione o Fornecedor:</label>
                    <br />
                    <select id="DropDownFornecedor"></select>

                </div>
                <div class="panel-footer">
                    <button id="btncadastro_produto" style="width:300px" class=" btn btn-success">
                        Cadastrar Produto
                    </button>
                    <hr />
                    <span id="mensagem_produto"></span>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>