@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@section javascript{

    <script type="text/javascript">

        $(document).ready(
            function () {
                $("#btnpesquisa_produto").click(
                    function () {

                        var Model = {
                            IdProduto: $("#idproduto").val()
                        };

                        $.ajax(
                            {
                                type: "POST",
                                url: "/Produto/Consultar",
                                data: Model,
                                success: function (lista) {

                                    if (lista[0] != null) {

                                        var dados = "";

                                        for (var i = 0; i < lista.length; i++) {

                                            dados += "<tr>";
                                            dados += "<td align='center'>" + lista[i].IdProduto + "</td>";
                                            dados += "<td align='center'>" + lista[i].Nome + "</td>";
                                            dados += "<td align='center'>" + lista[i].Preco + "</td>";
                                            dados += "<td align='center'>" + lista[i].Quantidade + "</td>";
                                            dados += "<td align='center'>" + lista[i].Descricao + "</td>";
                                            dados += "<td align='center'>" + lista[i].IdFornecedor + "</td>";
                                            dados += "<td>" + "<button id='btnEdit'>" + 'Editar' + "</button>" + ' ' + "<button id='btnDelete'>" + 'Excluir' + "</button>" + "</td>";
                                            dados += "</tr>";
                                        }

                                        $("#tabela_produto tbody").empty();
                                        $("#tabela_produto tbody").append(dados);
                                        $("#mensagem_pesquisa").html("");

                                        $("#btnDelete").click(
                                           function () {

                                               var Model = {

                                                   IdProduto: lista[0].IdProduto
                                               };

                                               $.ajax(
                                                    {
                                                        type: "POST",
                                                        url: "/Produto/Excluir",
                                                        data: Model,
                                                        success: function (msg) {
                                                            $("#tabela_produto tbody").empty();
                                                            $("#mensagem_pesquisa").html(msg);
                                                        },
                                                        error: function (e) {
                                                            $("#mensagem_pesquisa").html(e.status);
                                                        }
                                                    })

                                           });

                                        $("#btnEdit").click(
                                            function () {

                                                $('#janela_edicao').modal('show');
                                                $("#nome_produto").val(lista[0].Nome)
                                                $("#preco_produto").val(lista[0].Preco)
                                                $("#qtd_produto").val(lista[0].Quantidade)
                                                $("#desc_produto").val(lista[0].Descricao)

                                                $("#btnedicao_produto").click(
                                                    function () {

                                                        var Model = {
                                                            IdProduto: lista[0].IdProduto,
                                                            Nome: $("#nome_produto").val(),
                                                            Preco: $("#preco_produto").val(),
                                                            Quantidade: $("#qtd_produto").val(),
                                                            Descricao: $("#desc_produto").val(),
                                                            IdFornecedor: lista[0].IdFornecedor
                                                        };

                                                        $.ajax(
                                                            {
                                                                type: "POST",
                                                                url: "/Produto/Editar",
                                                                data: Model,
                                                                success: function (msg) {
                                                                    $('#janela_edicao').modal('hide');
                                                                    document.getElementById("btnpesquisa_produto").click();
                                                                    $("#mensagem_pesquisa").html(msg);
                                                                },
                                                                error: function (e) {
                                                                    $("#mensagem_pesquisa").html(e.status);
                                                                }
                                                            })

                                                    });
                                            });
                                    }
                                    else {

                                        $("#mensagem_pesquisa").html("Produto não encontrado.");
                                        $("#tabela_produto tbody").empty();
                                    }
                                },
                                error: function (e) {
                                    $("#mensagem_pesquisa").html(e.status);
                                }
                            });
                    });
            });

    </script>

}


<div class="container">
    <div class="row">

        <div class="col-md-3">

            <p>
                <h4>Consulta de Produtos</h4>
            </p>
            <input type="text" placeholder="Código" id="idproduto" class="form-control" />
            <br />
            <button id="btnpesquisa_produto" class="btn btn-success btn-block">
                Pesquisar Produto
            </button>

        </div>

        <div class="col-md-9">

            <span id="mensagem_pesquisa"></span>

            <table id="tabela_produto" class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center">Código</th>
                        <th style="text-align:center">Nome</th>
                        <th style="text-align:center">Preço</th>
                        <th style="text-align:center">Quantidade</th>
                        <th style="text-align:center">Descrição</th>
                        <th style="text-align:center">Fornecedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">Não há dados para exibir.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="janela_edicao" class="modal fade">
    <div class="modal-dialog">
        <div class="col-sm-6 col-md-10 col-md-offset-1">
            <div class="modal-content">

                <div class="modal-header bg-primary">
                    <h3>Edição de Produtos</h3>
                </div>

                <div class="modal-body">

                    <label>Nome:</label>
                    <input type="text" id="nome_produto" class="form-control" />
                    <br />

                    <label>Preço:</label>
                    <input type="text" id="preco_produto" class="form-control" />
                    <br />

                    <label>Quantidade:</label>
                    <input type="text" id="qtd_produto" class="form-control" />
                    <br />

                    <label>Descrição:</label>
                    <input type="text" id="desc_produto" class="form-control" />
                    <br />

                </div>

                <div class="modal-footer">

                    <button id="btnedicao_produto" class="btn btn-success">
                        Editar Produto
                    </button>
                    <hr />
                    <span id="mensagem_receita"></span>

                </div>
            </div>
        </div>
    </div>
</div>