<div class="panel panel-primary">
    <div class="panel-heading">
        Funcionario Autenticado
    </div>
    <div class="panel-body">

        @using Estoque.DAL.Entity
        @{
            if(Session["funcionariologado"] != null)
            {
                Funcionario f = (Funcionario)Session["funcionariologado"];
                
                <div class="row">
                    <div class="col-md-3">
                        <img src="/Imagens/@f.Foto" class="img-circle" 
                             width="80" height="80"/>
                    </div>
                    <div class="col-md-9">
                        <label>Nome:</label> @f.Nome <br/>
                        <label>Login: </label> @f.Login <br/>
                        <label>Data de Cadastro: </label> @f.DataCadastro
                    </div>
                </div>                
            }
        }

    </div>
    <div class="panel-footer">
        <a href="/Funcionario/Logout" 
           class="btn btn-danger btn-sm">
            Sair do Sistema
        </a>
    </div>
</div>
