@using Estoque.DAL.Entity
@{
    if (Session["funcionariologado"] != null)
    {
        Funcionario f = (Funcionario)Session["funcionariologado"];

        <img src="/Imagens/@f.Foto" align="right" class="img-circle"
             width="90" height="90" />

        <div class="container">
            <div class="row">

                <label>Nome:</label> @f.Nome <br />
                <label>Login: </label> @f.Login <br />
                <label>Data de Cadastro: </label> @f.DataCadastro

            </div>
        </div>

    }
}




