<h5>Funcionário:</h5>
<br />
@using Estoque.DAL.Entity
@{
    if (Session["funcionariologado"] != null)
    {
        Funcionario f = (Funcionario)Session["funcionariologado"];

        <div class="row">
            
            <div class="col-md-4">
                <label>Nome:</label> @f.Nome <br />
                <label>Login: </label> @f.Login <br />
                <label>Data de Cadastro: </label> @f.DataCadastro
            </div>
            <div class="col-md-8">
                <img src="/Imagens/@f.Foto" class="img-circle"
                     width="90" height="90" />
            </div>
        </div>
    }
}




