@{
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="active">
            Bem Vindo.
            <br />
            <br />
            <a href="/Funcionario/Logout" style="width:80px"
               class="btn btn-success btn-block">
                Sair
            </a>
        </div>
    </div>
</div>

